
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenue sur le calculateur RuneScape</h1>
<h4>Pour accéder a tous les fonctionalité du site vous devez avoir la permission</h4>
<h4>Contacter nous par email PFRuneScapeCalculateur@pfrs.com en incluant votres Nom d'utilisateur</h4>

<img src="~/Content/Images/rsIndex.jpg" alt="Bienvenue sur le site"/>
